body {
  background-color: rgba(255, 192, 203, 0.3);
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  /* 必要に応じて高さや幅を設定 */
  height: 100px;
}

.debug-text {
  display: flex;
  justify-content: center;
  background-color: lightgrey; /* 薄いグレー */
  margin: 0;
}

.login {
  text-align: center;
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

label {
  display: block; 
  margin: 5px;
}

input[type="text"],
input[type="password"] {
  width: 100px;
  padding: 8px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

#login-button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  background-color: #3498db;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#login-button:hover {
  background-color: #2980b9;
}

.player-column {
  display: flex;
  align-items: center;
  margin: 10px;
}

.player-icon {
  border-radius: 50%;
  width: 3em;
  height: 3em;
  border: 8px solid #6fc4fc;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f9ff;
  font-weight: bold;
  font-size: 1.5em;
  z-index: 1;
}

.player-text {
  margin-left: -5%;
  padding-left: 2em;
  padding-right: 1em;
  height: 2em;
  font-size: 1.5em;
  border: 4px solid #6fc4fc;
  display: flex;
  align-items: center;
  background-color: #f1f9ff;
  z-index: 0;
  transform: skewX(-20deg);

}

#wait-start {
  margin: 20px;
  display: flex;
  justify-content: center;
  transition: background-color 0.3s ease;
}

#wait-start-button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  background-color: #3498db;
  color: white;
  cursor: pointer;
  /* font-size: 1.5em; */
}

#wait-start-button:hover {
  background-color: #2980b9;
}

.is-me .player-icon {
  border: 12px solid #ff0cba;
}
.is-me .player-text {
  border: 8px solid #ff0cba;
}

.waiting {
  display: flex;
  justify-content: center;
  /* background-color: #2980b9; */
  margin: 50px;
}

.thema {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;

  width: fit-content;
  min-width: 600px;

  background-color: rgb(255, 235, 191);

  border-radius: 10px;
  border: 6px solid orange;
}

.thema-title {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 3%;

  font-size: 1.5em;
  font-weight: bold;
}

.thema-text {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 30px;
  font-size: 2.5em;
  font-weight: bold;

  color: orange;
  background-color: rgb(255, 235, 191);
}

#writeA-answer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.writeA-answer-column {
  display: flex;
  flex-direction: row;
  width: fit-content;

  margin: 10px;

  color: orange;
  font-weight: bold;
}

.writeA-answer-text {
  width: 500px;
  height: 1em;
  margin-left: 30px;
  padding: 5px;

  min-height: 1em;
  font-family: Meiryo;

  border-radius: 5px;
  border: 2px solid orange;
}


#writeA-send {
  display: flex;
  justify-content: center;
  align-items: center;
}

.writeA-send-button {
  margin-top: 50px;
  padding: 10px 20px;

  border-radius: 5px;
  border: none;
  background-color: orange;
  color: whitesmoke;
  cursor: pointer;

  font-size: 1.5em;
  font-weight: bold;
}

.writeA-send-button:hover {
  background-color: #2980b9;
}

.displayA-open {
  display: flex;
  justify-content: center;
  align-items: center;
}

.displayA-open-button {
  margin: 30px 50px;

  padding: 10px 50px;
  border-radius: 5px;

  cursor: pointer;

  font-weight: bold;
}

.button-false {
  opacity: 0.5;
  border: gray;
  pointer-events: none;
  cursor: not-allowed;
}
